//Font Families 
$primary-font: 'Inter', sans-serif;

//Breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

//Colors

$white: #ffffff;

//Dark Theme
$background-dark: #181a20;
$primary-font-color: #EAECEF;
$secondary-font-color: #848E9C;

//Light Theme  