:root {
    --background-color: #{$background-light};
    --primary-color: #{$primary-font-color-light};
    --secondary-color: #{$medium-gray};
    --th-font-color:#{$medium-gray};
}

[data-theme="dark"] {
    --background-color: #{$background-dark};
    --primary-color: #{$primary-font-color-dark};
    --secondary-color: #{$medium-gray};
    --th-font-color:#{$medium-gray};
}

[data-theme="light"] {
    --background-color: #{$background-light};
    --primary-color: #{$primary-font-color-light};
    --secondary-color: #{$medium-gray};
    --th-font-color:#{$secondary-color-orange};
}